body,
html,
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

li {
  list-style-type: none;
  padding: 0.6rem 0;
  text-decoration: none;
}

a,
a:visited {
  text-decoration: none;
  color: currentColor;
}

a:hover {
  color: #fc6e51;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

footer {
  padding: 1rem;
  text-align: center;
}

main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

@media screen and (min-width: 599px) {
  ul {
    display: flex;
    flex-direction: row;
  }

  li {
    padding: 1rem;
  }
}
